body {
    font-family: Arial, Helvetica, sans-serif; 
    background-color: rgb(240, 240, 229);
}

#PersonalInfo {
    width:90%;
    height:12%;
    margin:3% 5% 3% 5%;
}

h1 {
    text-align: center; 
    margin: 0;
    padding: 0;
    font-variant: small-caps;
    font-size: 3em
}

 
#contactInfo {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 8px 0  8px 0;
    margin: 0;
    text-align: center;
    white-space: nowrap;
}

#contactInfo li {
    display: inline;
    list-style: none;
    margin: 0 0.25em 0 0.25em;
}

#education{
    border:1px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-left: 450px;
    margin-right: 50px;
}

#education p, li{
    margin: 5px;
}

#education ul{
    margin: 0px;
}

#work{
    border:1px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-left: 450px;
    margin-right: 50px;
}

#work p, li{
    margin: 5px;
}

#work ul{
    margin: 0px;
}

#research{
    border:1px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-left: 450px;
    margin-right: 50px;
}

#research p, li{
    margin: 5px;
}

#research ul{
    margin: 0px;
}

#project{
    border:1px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-left: 450px;
    margin-right: 50px;
}

#project p, li{
    margin: 5px;
}

#project ul{
    margin: 0px;
}

#skills{
    border:1px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-left: 450px;
    margin-right: 50px;
}

#skills p, li{
    margin: 5px;
}

#skills ul{
    margin: 0px;
}

h2 {
    float: left;
    clear: left;
    text-align: left;
    width: 260px;
    margin-left: 110px;
    margin-top: 25px;
    padding: 0;
    font-size: 25px;
}

.location{
    float: right;
}

.time{
    float: right;
}

ul {
    padding-left: 18px;
}
